.container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 90%;
}
h1 {
  font-size: 2.4rem;
  line-height: 1.5;
  text-transform: uppercase;
}
p {
  font-size: 1.8rem;
  margin: 1.6rem;
}

footer {
  margin: 2rem;
  font-size: 1.4rem;

  font-weight: 500;
}

a,
a:focus,
a:active {
  font-weight: bold;
  color: white !important;
  text-decoration: none;
}

span {
  color: cyan;
}
