.container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 90%;
}
h1 {
  font-size: 2.4rem;
  line-height: 1.5;
  text-transform: uppercase;
}
p {
  font-size: 1.8rem;
  margin: 1.6rem;
}

button {
  border: 0.1em solid rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

svg {
  margin-right: 0.5rem;
}

footer {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 50px;
}

a,
a:focus,
a:active {
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

span {
  color: cyan;
}
